@import 'typography';
@import 'colors';

// main
.home-container {
  width: 100%;
}
.btn {
    padding: 0.5rem;
    border: 1px solid $sea-green;
    border-radius: 20px;
    font-weight: 500;
    color: $sea-green;
    transition: all 1s;
    &:hover {
        color: $blue;
        border-color: $blue;
        box-shadow: 1px 1px 5px $blue;
      }
}
// banner
.social-media {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 1rem;
  color: black;

  .icon-link {
    color: $blue;
    transform: all 2s;
    border-radius: 50%;
    margin: 1px;

    &:hover {
      color: $red;
    }
  }
}

.banner {
  width: 100%;
  background: url(/images/background-home.png) no-repeat right;
  background-size: contain;
  height: 100vh;

  &__description {
    margin-top: 2rem;
    text-align: center;
    font-family: $secondary-font;

    &__title {
      letter-spacing: 0.2rem;
      font-size: 2.5rem;
      color: $yellow;
    }
    .madeby {
      margin: 0 1rem 1rem 1rem;
      font-family: $primary-font;
      font-size: 0.8rem;
      color: $black;
    }
 
     
    }
  }

@media screen and (min-width: 800px) {
  .social-media {
    font-size: 2rem;
  }
  .banner__description {
    margin: 3rem;
    text-align: left;

    &__title {
      font-size: 4rem;
    }
    .madeby {
      margin-left: 1rem;
    }
    .btn {
      margin-left: 6rem;
    }
  }
}
//division
.custom-shape-divider-top-1598360221 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1598360221 svg {
  position: relative;
  display: block;
  width: calc(167% + 1.3px);
  height: 103px;
}

.custom-shape-divider-top-1598360221 .shape-fill {
  fill: #4d79c7;
}
// section games
#games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .games__card {
    width: 80%;
    margin: 1rem;
    padding-bottom: 1.5rem;
    border: 3px dotted $blue;
    border-radius: 10px;
    text-align: center;

    &:hover {
      border-style: solid;
 
    }
    .games__card-img-container {
      margin: 1rem;

      img {
        width: 60%;
      }
    }
    .games__card-description{
        margin: 0.5rem;
        margin-bottom: 1rem;
        color: $black;
        font-family: $primary-font;
    }
    .btn{
        color: $yellow;
        border-color: $yellow;
        &:hover {
            color: $blue;
            border-color: $blue;
            box-shadow: 1px 1px 5px $blue;
          }
    }
}
}
@media screen and (min-width: 800px) {
  #games {
    flex-direction: row;
  }
}
